@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Young+Serif&family=New+Rocker&family=Pirata+One&family=UnifrakturMaguntia&display=swap');

:root {
  --black: 20, 20, 25;
  --white: 235, 235, 235;

  --bg-primary: var(--black);
  --fg-primary: var(--white);
  --fg-secondary: 160, 60, 60;
  

}

html, body {
  background-color: rgb(var(--bg-primary));
  color: rgb(var(--fg-primary));
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Young Serif', sans-serif;
}

a:link, a:visited {
  color: rgb(var(--fg-secondary));
  text-decoration: none;
}

a:hover {
  color: rgb(var(--fg-primary));
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bokor', serif;
  max-width: 40rem;
  padding-inline: 1rem;
}

.section-title {
  font-size: 3rem;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  margin: 0;
  text-align: center;
}

p {
  max-width: 40em;
  text-align: center;
}

img {
  /* max-width: 5rem; */
}

.inverted {
  background-color: rgb(var(--fg-primary));
  color: rgb(var(--bg-primary));
}

.spacer {
  margin-bottom: min(92vw, 620px);
}

.site-title {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  justify-content: center;
}

.site-title {
  opacity: 0;
  transition: all linear 0.4s;
  transition-delay: 0.2s;
  background-color: rgb(var(--bg-primary));
}

.site-emblem {
  position: fixed;
  top: 0;
  left: max(calc(50vw - 300px), calc(5vw - 1rem));
  padding: .5rem;
  transition: all linear 0.3s;
}

.site-emblem > img {
  width: 90vw;
  max-width: 600px;
  transition: all linear 0.3s;
}

.show-title {
  opacity: 1;
}

.shrink-emblem > img {
  max-width: 3rem;
}

.shrink-emblem {
  left: 0;
}

@media screen and (max-width: 750px) {
  p {
    max-width: 100%;
  }
}
