---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import EventList from '../components/EventList.astro';
import IGVid from '../components/IGVid.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
    ul {
    display: flex;
    flex-direction: column;
      max-width: 40rem;
    padding-left: 0;
    list-style-type: none;
    gap: .6rem;
    }
    </style>
	</head>
	<body>
		<Header title={SITE_TITLE} />
    <main>
      <section class="inverted">
        <h2>About Us</h2>
      <h5>The Ponies came together in 2021 to jam out and share the music we love with our friends and family.  We discovered that the crowds we played for loved to hear our songs, so we decided to perform for the masses.  Tommy J's voice and mad guitar licks make him a front man that's fun to watch.  Demetri and Mike D keep the rhythm section grooving, so if you find yourself dancing just go with it.  We cover your favorites from the 60's through today.  We play bars, clubs, parties, functions, and our living room.  If you need a Kick@ss band that won't disappoint, give us a shout!</h5>
      </section>
      <section>
        <h2>Media</h2>
        <IGVid />
      </section>
      <section class="inverted contact">
        <h4>Email us at <a class="email" href="mailto:prancingponies3pcsband@gmail.com">prancingponies3pcsband@gmail.com</a></h4>
      </section>
      <section>
        <h3>Song List:</h3>
        <ul class="song-list">
          <li>I Want to Hold Your Hand - The Beatles (1967)</li>
          <li>Pretty Woman - Roy Orbison (1964)</li>
          <li>My Girl - The Temptations (1965)</li>
          <li>Jet Plane - John Denver (1966, punk version)</li>
          <li>I Think We're Alone Now - Tommy James &amp; the Shondells (1967)</li>
          <li>Come Together - The Beatles (1969)</li>
          <li>Don't Let Me Down - The Beatles (1970)</li>
          <li>Proud Mary - Tina Turner/CCR (1971)</li>
          <li>Gimme 3 Steps - Lynrd Skynrd (1973)</li>
          <li>Simple Man - Lynrd Skynrd (1973)</li>
          <li>Lagrange - ZZ Top (1973)</li>
          <li>Night Moves - Bob Seger and SB Band (1976)</li>
          <li>Dreams - Fleetwood Mac (1977)</li>
          <li>Stray Cat Strut - Stray Cats (1981)</li>
          <li>Billie Jean - Michael Jackson (1982)</li>
          <li>Everybody Wants to Rule the World - Tears of Fears (1985)</li>
          <li>Bizarre Love Triangle - New Order (1986)</li>
          <li>Talk Dirty to Me - Poison (1986)</li>
          <li>In Bloom - Nirvana (1991)</li>
          <li>Creep - Radiohead (1992)</li>
          <li>Say it Ain't So - Weezer (1994)</li>
          <li>One Headlight - The Wallflowers (1996)</li>
          <li>Song 2 - Blur (1997)</li>
          <li>Why Don't You Get a Job - The Offspring (1998)</li>
          <li>Learn to Fly - Foo Fighters (1999)</li>
          <li>Someday - The Strokes (2001)</li>
          <li>Seven Nation Army - The Whitestripes (2003)</li>
          <li>Stacy's Mom - Fountains of Wayne (2003)</li>
          <li>I Love This Bar - Toby Keith (2003)</li>
          <li>Hey Ya - Outcast (2003)</li>
          <li>Heaven - Los Lonely Boys (2003)</li>
          <li>Holiday - Green Day (2004)</li>
          <li>Feel Good Inc - Gorillaz (2005)</li>
          <li>Make You Feel Better - Red Hot Chili Peppers (2006)</li>
          <li>Sex on Fire - Kings of Leon (2008)</li>
          <li>Magic - B.O.B. (2010)</li>
          <li>Six Feet Under - Kissin' Dynamite (2012)</li>
          <li>TN Whisky - Chris Stapelton (2015)</li>
          <li>Don't Start Now - Dua Lipa (2020)</li>
        </ul>
      </section>
      <section class="inverted">
        <h2>Events</h2>
        <EventList />
      </section>
    </main>
    <Footer />
	</body>
</html>
