---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';

---

<header>
  <a href="/">
  <div id="site-title" class="site-title">
      <h2>{SITE_TITLE}</h2>
  </div>
  </a>
  <a href="/">
  <div id="site-emblem" class="site-emblem">
      <img src="prancing_ponies.png" />
  </div>
  </a>
  <div class="spacer"></div>
	<nav>
	</nav>
</header>
<script>
let title = document.getElementById("site-title")
let emblem = document.getElementById("site-emblem")
document.addEventListener("scroll", ()=> {
  if (window.scrollY <= 20) {
    title.classList.remove("show-title")
    emblem.classList.remove("shrink-emblem")
  } else if (window.scrollY > 20) {
    title.classList.add("show-title")
    emblem.classList.add("shrink-emblem")
  }
})

window.addEventListener("onLoad", ()=>{
  if (window.scrolly > 20) {
    title.classList.add("show-title")
    emblem.classList.add("shrink-emblem")
  }
})
</script>
<style>

nav {
  display: flex;
  justify-content: space-between;
  padding-inline: 1rem;
}

.internal-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#site-title {
  color: rgb(var(--fg-primary));
}
#site-title:hover {
  font-weight: 700;
}
</style>
