---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';

---

<header>
	<nav>
		<h2><a id="site-title" href="/"><img class="header-logo " id="header-logo" src="Prancing_Ponies.png" /></a></h2>
    <h2 class="hidden-title">{SITE_TITLE}</h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
	</nav>
</header>
<script>
document.addEventListener("scroll", ()=> {
  if (window.scrollY === 0) {
    document.getElementById("header-logo").classList.remove("scroll-v")
    document.querySelector(".hidden-title").classList.remove("display-title")
  } else if (window.scrollY > 0) {
    document.getElementById("header-logo").classList.add("scroll-v")
    document.querySelector(".hidden-title").classList.add("display-title")
  }
})
</script>
<style>
header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(var(--bg-primary));
  margin-bottom: 20vw;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-inline: 1rem;
  min-height: 6rem;
}

.internal-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#site-title {
  color: rgb(var(--fg-primary));
}
#site-title:hover {
  font-weight: 700;
}
</style>
